/* overall css */

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: Helvetica;
  text-decoration: none;
  margin: 4% 0 2% 0;
  font-size: 2em;
  color: #373737;
}

.site-name {
  text-decoration: none;
}

h1:hover {
  opacity: 80%;
}

footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 5px 0 5px 0;
  background-color: rgba(255,255,255,0.9);
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.navigation {
  display: flex;
  max-width: 600px;
  right: 0;
  left: 0;
  margin: 0 auto 0 auto;
}

.navigation-bar {
  background: rgba(255,255,255,0.9);
  width: 100%;
}

.sticky {
  position: fixed;
  scroll-behavior: smooth;
  top: 0px;
  padding: 5px 0 5px 0;
}

.sticky + .page {
  padding-top: 60px;
}

a.menu-item {
  display: inline-flex;
  width: 100%;
  font-size: 1em;
  font-family: courier;
  color: #949494;
  text-decoration: none;
  justify-content: center;
}

a.menu-item:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 0px 0.5px 1px rgba(0,0,0, 0.3);
}

a.selected {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 0px 0.5px 1px rgba(0,0,0, 0.3);
}

img.social {
  height: 20px;
  opacity: 80%;
}

img.social:hover {
  opacity: 50%;
}

 .page {
    margin: 30px auto 30px auto;
    width: 80%;
    justify-content: center;
    font-family: arial;
    padding: 16px;
}

div.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: justify-content .5s;
}

img.portfolio-icon {
  width: 200px;
  height: 130px;
  object-fit: cover;
}

img.portfolio-icon:hover {
  opacity: 7  0%;
}

figure {
    text-align: center;
    height: 150px;
    width: 200px;
    margin: 10px;
    padding-bottom: 20px;
}

/* css for portfolio-item page */
