#post-description {
  margin: 0 0 10px 0;
  padding: 0;
  color: gray;
  font-style: italic;
}

#post-list {
  list-style-type: none;
}

div.album {
  width: 80%;
}

img {
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
