.gif {
    max-width: 75%;
    max-height: 75%;
}

.screenshot{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 5px 3rem;
}

.screenshot:hover{
    background-color: white;
}

.artask:hover{
  background: url('../assets/images/project_gifs/search_bar.gif');
  background-size: cover;
}

.artask .gif {
  max-height: 50%;
}

.ftp:hover{
  background: url('../assets/images/project_gifs/ftp_contact_types.gif');
  background-size: cover;
}

.ftp gif{
  max-height: 100%;
}

.screenshot:hover img{
    display:none;
}

.recent-project{
    display: flex;
}

#home{
    padding: 16px 50px;
}

.description{
    display: flex;
    flex-flow: column;
    width: 50%;
    justify-content: center;
}

.recent-project{
    margin: 0 0 1rem 0;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
@media screen and (min-width: 800px) {
  body {
    background-color: lavender;
  }
} */
